table {
    border-collapse: collapse;
}

table, th, td {
    width: 100%;
    height: 50%;
    border: 1px solid darkgreen;
    padding: 0px;
    text-align: left;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background: url(imgf/oceantree.png);
    color: rgb(60, 0, 100);
}

 header {
    color: rgb(60, 0, 100);
    background: linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
    width: 100%;
    height: 10%;
    padding: 0px;
    font-family: Verdana, sans-serif;
    text-align: center;
    margin: center;
 }
 
footer {
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .1));
    position: fixed;
    bottom:0px;
    width: 100%;
}

    /* Top Nav */

    .topnav a {
        color: rgb(60, 0, 100);
        padding: 0px;
        text-decoration: none;
}

h4 {
    text-align: center;
    color: rgb(100, 0, 22);
    font-size: 7em;
} 

h1 {
    text-align: center;
    color: gold;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 7em;
    color: gold;

}

h3 {
    text-align: center;
    color: gold;
    margin: 10px;
    font-size: 1.5em;
}

h5 {
    text-align: center;
    color: darkmagenta;
    margin: 10px;
    font-size: 3em;
}



.sign-info {
    text-align: center;
    margin: 10px;
    color: rgb(60, 0, 100);

}

.login-info {
    text-align: center;
    margin: 10px;
    color: rgb(60, 0, 100);
}

#login-button {
    text-align: center;
    margin: 10px;
    color: rgb(60, 0, 100);
}

/* /* unvisited link* */
a:link {
    color: orange;
}

/* visited link */
a:visited {
    color: orangered;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: blue;
} 
